visual studio/*/Debug
visual studio/*/Release
visual studio/*/x64/Debug
visual studio/*/x64/Release
visual studio/Debug
visual studio/Release
visual studio/*.suo
visual studio/*.sdf
visual studio/.vs
visual studio/*.VC.db
visual studio/*/*.user
*.xyz